<configuration debug="true" scan="true"
	scanPeriod="10 seconds">

	<!-- SALIDA DE LOG -->
	<appender name="consAp"
		class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-4level %logger{32} - [%method] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- ROLLINGFILEAPPENDER -->
	<appender name="AppRFA"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/Users/pablo/Documents/Estudios/FP DAW/FP Dual/1º DAW/Practicas/Taller Logback/log.log</file>
		<append>true</append>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/Users/pablo/Documents/Estudios/FP DAW/FP Dual/1º DAW/Practicas/Taller Logback/log.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50KB</maxFileSize>
		</triggeringPolicy>
		
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%method] - %msg%n</pattern>
		</encoder>
	</appender>	
	<!-- ROOT LOGGER -->
	<root level="debug">
		<appender-ref ref="consAp" />
		<appender-ref ref="AppRFA"/>
	</root>

</configuration>